<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="https://fb.me/react-0.14.7.js"></script>
    <script src="https://fb.me/react-dom-0.14.7.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    {% if title %}
    <title>{{ title }} - Games Observatory</title>
    {% else %}
    <title>Welcome to Games Observatory</title>
    {% endif %}
  </head>
  <body>
    <div>Splash: <a href="/">Home</a></div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
