{% extends "base.html" %}

{% block title %}
  {{ company_id }}
{% endblock %}

{% block description %}
  Companies can either be Publishers, Developers, or both!
{% endblock %}

{% block content  %}
  <div id="table">
    <!-- Will be populated by React Component content -->
  </div>
  <script type="text/babel" src="{{ url_for('static', filename='jsx/company.js')  }}"></script>
    <div> Company: Naughty Dog </div>
    <div> Games Developed: <a href="../games/1"> Crash Bandicoot </a> </div>
    <div> Games Published: <a href="../games/1"> Crash Bandicoot </a> </div>
    <div> Founded: <a href="../years/1"> 1996 </a> </div>
    <div> Average Rating: 4.0 </div>
{% endblock %}
